# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
/cloud-music.iml
/codeStyles/codeStyleConfig.xml
/modules.xml
/codeStyles/Project.xml
/inspectionProfiles/Project_Default.xml
/vcs.xml
